@model (string Id, bool CanView, bool CanEdit, bool CanDelete, string ControllerName)
@{
    var controller = Model.ControllerName ?? ViewContext.RouteData.Values["Controller"].ToString();
}
<div class="btn-group">
    @if (Model.CanView)
    {
        <a asp-controller="@controller" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-info">
            <i class="fas fa-eye"></i>
        </a>
    }
    @if (Model.CanEdit)
    {
        <a asp-controller="@controller" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">
            <i class="fas fa-edit"></i>
        </a>
    }
    @if (Model.CanDelete)
    {
        <a asp-controller="@controller" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i>
        </a>
    }
</div>